* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Segoe UI";
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.score-container {
    display: flex;
    gap: 2rem;
}

.selection-container {
    display: flex;
    gap: 1rem;
}

.selection {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0ea5e9;
    background-color: #f0f9ff;
    padding: .5rem 1rem;
    border: 4px solid #7dd3fc;
    border-radius: .5rem;
    box-shadow: 2px 2px 8px #0369a1;
    cursor: pointer;
}

.player-score,
.computer-score {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ec4899;
    background-color: #fdf2f8;
    border: 4px solid #f9a8d4;
    border-radius: .5rem;
    padding: .5rem 1rem;
    box-shadow: 2px 2px 8px #be185d;
}

.display {
    font-size: 1.2rem;
    font-style: italic;
    color: #22c55e;
    background-color: #f0fdf4;
    border: 4px solid #86efac;
    border-radius: .5rem;
    padding: .5rem 1rem;
    box-shadow: 2px 2px 8px #15803d;
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    overflow: auto;
}